<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&amp;subset=latin,devanagari">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal-trigger').leanModal();
    });

    setTimeout(function () {
        // after 2 seconds
        window.location = '/';
    }, 3500)
</script>
<link rel="stylesheet" href="../../public/css/css_ani.css">

<body class="welcome">
    <span id="splash-overlay" class="splash"></span>
    <span id="welcome" class="z-depth-4"></span>

    <header class="navbar-fixed">
        <nav class="row deep-purple darken-3">
            <div class="col s12">
                <ul class="right">
                    <li class="right">
                        <a href="" target="_blank" class="fa fa-facebook-square fa-2x waves-effect waves-light"><span
                                class="icon-text"></span></a>
                    </li>
                    <li class="right">
                        <a href="" target="_blank" class="fa fa-github-square fa-2x waves-effect waves-light"><span
                                class="icon-text"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="valign-wrapper">
        <span class="container grey-text text-lighten-1 ">

            <p class="flow-text">Welcome to</p>
            <h1 class="title grey-text text-lighten-3">EDUCATURE</h1>

            <blockquote class="flow-text">The best place to study </blockquote>


        </span>
    </main>

    <div class="fixed-action-btn">
        <a href="#message" class="modal-trigger btn btn-large btn-floating amber waves-effect waves-light">
            <i class="large material-icons">message</i>
        </a>
    </div>

    <div id="message" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Contact</h4>
            <p>coming soon...</p>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect btn-flat">close</a>
        </div>
    </div>

    <footer class="page-footer deep-purple darken-3">
        <div class="footer-copyright deep-purple darken-4">
            <div class="container">
            </div>
        </div>
    </footer>

</body>