<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../../public/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Educature Education</title>

	<!--
			Google Font
			============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
	<link rel="stylesheet" href="../../public/css/linearicons.css">
	<link rel="stylesheet" href="../../public/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../public/css/bootstrap.css">
	<link rel="stylesheet" href="../../public/css/magnific-popup.css">
	<link rel="stylesheet" href="../../public/css/nice-select.css">
	<link rel="stylesheet" href="../../public/css/animate.min.css">
	<link rel="stylesheet" href="../../public/css/owl.carousel.css">
	<link rel="stylesheet" href="../../public/css/main.css">

	<link rel="stylesheet" href="../../public/css/css.css">


	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	{{!-- admin page --}}
	<link href="../../public/dist/css/styles.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
		crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
		crossorigin="anonymous"></script>
	{{!-- admin page --}}
	{{!-- Link cua Paypal Sanbox --}}
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
	{{!-- Link cua Paypal Sanbox --}}

</head>

<body>
	<script
		src="https://www.paypal.com/sdk/js?client-id=Adk2F54w3OXwHI7SMplnmnQROo6rG7NXbliP6ko_LO6hHFiinmKJHiilKFtEGxsnSImrnjx74JO2TXBF"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
		</script>

	
	{{{body}}}

	{{!-- hower-effec --}}
	<script src="../../public/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="../../public/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="../../public/js/easing.min.js"></script>
	<script src="../../public/js/hoverIntent.js"></script>
	<script src="../../public/js/superfish.min.js"></script>
	<script src="../../public/js/jquery.ajaxchimp.min.js"></script>
	<script src="../../public/js/jquery.magnific-popup.min.js"></script>
	<script src="../../public/js/owl.carousel.min.js"></script>
	<script src="../../public/js/owl-carousel-thumb.min.js"></script>
	<script src="../../public/js/jquery.sticky.js"></script>
	<script src="../../public/js/jquery.nice-select.min.js"></script>
	<script src="../../public/js/parallax.min.js"></script>
	<script src="../../public/js/waypoints.min.js"></script>
	<script src="../../public/js/wow.min.js"></script>
	<script src="../../public/js/jquery.counterup.min.js"></script>
	<script src="../../public/js/mail-script.js"></script>
	<script src="../../public/js/main.js"></script>
	{{!-- hower-effec --}}

	{{!-- admin page --}}
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="../../public/dist/js/scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script src="../../public/dist/assets/demo/chart-area-demo.js"></script>
	<script src="../../public/dist/assets/demo/chart-bar-demo.js"></script>
	<script src="../../public/dist/assets/demo/chart-pie-demo.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
	<script src="../../public/dist/assets/demo/datatables-demo.js"></script>
	{{!-- admin page --}}


</body>

</html>