
 <script>
    setTimeout(function () {
        // after 2 seconds
        window.location = '/';
    }, 2000)
</script>
 <div class="jumbotron text-center">
 <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
</div> 

